@import "@/uikit/styles/main";

.top-bar {
	.runtime-panel {
		width: 100%;
	}

	.runtime-name {
		height: fit-content;

		.av-text-sm-m;
		color: @text-primary;
		margin: 0;
	}

	.runtime-details {
		height: fit-content;

		.av-text-sm-r;
		color: @text-secondary;
		margin: 0;
	}
}
